<p style="color: green"><%= notice %></p>

<h1>Unlog Surveys</h1>

<div id="unlog_users_surveys">
  <% @unlog_users.each do |unlog_user| %>
    <%= render unlog_user %>
    <p>
     <button><%= link_to "Show this survey", unlog_user_path(unlog_user) %></button>

    </p>
  <% end %>
</div>


<button><%= link_to "Home", "/" %></button>
