<div id="input_fields">
  <% input_fields.each do |input_field| %>
    <div>
      <label>Veuillez renseigner <%=input_field.input_name%> </label>
      <br>
      <input placeholder= "<%=input_field.input_placeholder%>" >
    </div>
    <br>
  <% end %>
  <br>
  <br>
</div>