<p style="color: green"><%= notice %></p>

<h1>Answers Surveys</h1>

<div id="answers_surveys">
  <% @surveys.each do |survey| %>
    <%= render survey %>
    <p>
     <button><%= link_to "Show this survey", answer_path(survey) %></button>

    </p>
  <% end %>
</div>


<button><%= link_to "Home", "/" %></button>
