<div id="<%= dom_id survey %>">
  <p>
    <strong>Name:</strong>
    <%= survey.name %>
  </p>

  <p>
    <strong>Tester le module:</strong>
    <%= "Test" %>
  </p>

  <p>
    <strong>User:</strong>
    <%= survey.user_id %>
  </p>

</div>
